<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FRC #9460</title>

  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/base.css">
</head>

<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="https://www.instagram.com/steelbullsfrc/" target="_blank">
        <img src="../../assets/image/bullslogo-removebg.png" alt="Bootstrap" width="100" height="90">
      </a>
      <a class="nav-link active" aria-current="page" href="#">FRC</a>
      <a class="nav-link active" aria-current="page" href="#">Sobre nós</a>
      <a class="nav-link active" aria-current="page" href="#">O que fazemos</a>
      <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5500/src/view/equipe.html#">Equipe</a>
      <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5500/src/view/mascote.html">Mascote</a>
    </div>
  </nav>
  <div class="conteudo">
    <h1>O que é a FRC (First Robotics Competition)</h1>
    <p>Sob regras estritas, recursos limitados, e a orientação de mentores engenheiros, professores, gestores, pais,
      ex-alunos etc, equipes com mais de 15 estudantes projetam, constroem e programam robôs para realizar tarefas
      desafiadoras em uma arena cheia de competidores.

      Além disso, eles ainda precisam arrecadar fundos, desenvolver uma marca para seu time, adquirir habilidades de
      trabalho em equipe e envolver sua comunidade por meio da ciência e tecnologia. Durante esse processo, os
      participantes desenvolvem habilidades técnicas mas também interpessoais, como liderança e comunicação.

      Ao concluirem o Ensino Médio, os estudantes são elegíveis a aplicar para 80 milhões de dólares em bolsas de estudo
      universitárias.

      “É o mais próximo da engenharia do mundo real que um aluno pode chegar.” – FIRST®</p>
  </div>
  
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/image/20220423_BM_0293.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/image/header-image_1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/image/frcphotocreditadrianagroisman.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/image/robotline.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/image/6874513808_0428abb84c_b.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</body>

</html>